@if (showPopup)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delte</h1>
                    <button type="button" @onclick="Hide" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Willst du wirklich <b>@ContactName</b> von der Kontaktliste löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" @onclick="Hide" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" @onclick="Confirm" class="btn btn-danger">Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@code {
    private bool showPopup = false;
    public Contact ContactToDelete { get; set; }
    public string ContactName { get; set; }

    [Parameter]
    public EventCallback<Contact> OnConfirmed { get; set; }
    public void Show() => showPopup = true;
    public void Hide() => showPopup = false;

    private async Task Confirm()
    {
        await OnConfirmed.InvokeAsync(ContactToDelete);
    }
}
