@page "/contacts"
@* @using Blazor_App.Models eine möglichkeit
das model zu importieren. Besser aber wenn bei _imports.razor
denn dann überall verfügbar. *@

@using Blazor_App.Components.Pages.ContactComponents


<h1 class="headline-contacts">Kontakte</h1>
<h2>test</h2>
<br>
<button @onclick="HideContacts">Kontakte Anzeigen/Vergerben</button>
<br>
<ContactList @ref="contactList" Contacts="@contacts">
    <NullContacts>
        <br>
        <span>Kontakte werden geladen...(from Contacts Razor)</span>
    </NullContacts>


    <EmptyContacts>
        <br>
        <span>keine Kontakte zum Anzeigen...(from Contacts Razor)</span>
    </EmptyContacts>
</ContactList>
<br>
<br />
<br />
<a href="./testPage">TestPage</a>
<br />

<RadzenButton Click="NavigateToTest">Navigate to TestPage</RadzenButton> 