@page "/"
@rendermode InteractiveServer
@using Blazor_App.Components.Pages.ContactComponents

<PageTitle>Home</PageTitle>

<h1>Hello, @GetWord() 2+2=@(2 + 2)!</h1>

Welcome to your new app.

<input type="checkbox" @bind="DisplayEmail"> <label>Display Email</label>


<ContactComponent CurrentContact="@contact" DisplayEmail="@DisplayEmail" DeleteCurrentContact="DeleteContact">
</ContactComponent>

<br>

<MyTextbox @attributes="inputAttributes">
</MyTextbox>

@code {

    private Dictionary<string, object> inputAttributes = new Dictionary<string, object>
{

{"placeholder","Kontakt Name"},
{"type","text"}
};

    public bool DisplayEmail = false;


    private string GetWord() { return "world"; }

    public Contact contact = new Contact { FirstName = "Pierre", LastName = "Lettner", Email = "kasdlkfj" };

    private void DeleteContact(Contact contact)
    {
        contact.FirstName = "";
        contact.LastName = "";
        contact.Email = "";
    }
}
