@page "/"

@using Blazor_App.Components.Pages.ContactComponents

<PageTitle>Home</PageTitle>

<h1>Hello, @GetWord() 2+2=@(2 + 2)!</h1>

Welcome to your new app.



<ContactComponent CurrentContact="contact">
</ContactComponent>

<br>

<MyTextbox @attributes="inputAttributes">
</MyTextbox>

@code {

    private Dictionary<string, object> inputAttributes = new Dictionary<string, object>
{

{"placeholder","Kontakt Name"},
{"type","text"}
};
    private string GetWord() { return "world"; }

    public Contact contact = new Contact { FirstName = "Pierre", LastName = "Lettner", Email = "kasdlkfj" };
}
