@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, @GetWord() 2+2=@(2 + 2)!</h1>

Welcome to your new app.

<Blazor_App.Components.Pages.ContactComponents.ContactComponent FirstName="Pierre" LastName="Lettner"
    Email="lettner89@gmail.com"></Blazor_App.Components.Pages.ContactComponents.ContactComponent>
@code {
    private string GetWord() { return "world"; }
}
