@page "/ServiceDemo2"
@inject IContactService ContactService
@rendermode InteractiveServer

<h1>ServiceDemo2</h1>

@if (ContactService.GetContacts().Count == 0)
{
    <b>No Contacts to Display</b>
}
else
{
    @foreach (var contact in ContactService.GetContacts())
    {
        <b>@contact.FirstName @contact.LastName</b>

        <br>
        <i>@contact.Email</i>

        <br>
        <br>
    }
}

@code {

}
