@inject NavigationManager navManager
@*NavigationManager is a service to navigate thru urls in C#*@
@page "/testPage/{contactName?}/{Age:int?}"
@*if numbers are wanted in the url we must call it :int, otherwise we get a error*@
@*like this we pass a parameter thru the url, with the question mark, the site loads correctly even we pass no parameter
*@


<PageTitle>TestPage</PageTitle>

<h3>Test - PageDirective</h3>

<a href="/">Index</a>

<RadzenButton Click="NavigateToIndex">Navigate to Index</RadzenButton>

<br />
<br />

<span>Name: @contactName/Alter: @Age</span>

@code {
    [Parameter]
    public string contactName { get; set; } = "";

    [Parameter]
    public int Age { get; set; } = 0;

    private void NavigateToIndex()
    {
        navManager.NavigateTo("./");
    }
}
